<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project Tiny Url.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C5DDD90B269DAEE8001EF502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5DDD921269DAEEA001EF502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5DDD92C269DAEEA001EF502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
